#!/bin/bash

# PostgreSQL connection details
PG_PORT="{{ postgres_infrastructure.external_port }}"
PG_USER="postgres"
PG_PASSWORD="{{ postgres_application.root_password }}"
PG_HOST=localhost

# Backup and Log directory
BACKUP_DIR="{{ postgres_infrastructure.backup_directory }}"
LOG_DIR="{{ postgres_infrastructure.log_directory }}"

# Create timestamp
TIMESTAMP=$(date +"%Y%m%d-%H%M")

# Filename for the backup
DATABASE_BACKUP_FILENAME="all_databases_${TIMESTAMP}.sql"
USERS_BACKUP_FILENAME="users_and_permissions_${TIMESTAMP}.sql"
LOG_FILENAME="backup_all_postgres_databases.log"
FINAL_BACKUP_NAME="postgresql_backup_${TIMESTAMP}.tgz"

# Full path for the backup file
DATABASE_BACKUP_PATH="${BACKUP_DIR}/${DATABASE_BACKUP_FILENAME}"
USERS_BACKUP_PATH="${BACKUP_DIR}/${USERS_BACKUP_FILENAME}"
LOG_PATH="${LOG_DIR}/${LOG_FILENAME}"
FINAL_BACKUP_PATH="${BACKUP_DIR}/${FINAL_BACKUP_NAME}"

# Function to log messages
log_message() {
    echo "[$(date '+%Y-%m-%d %H:%M:%S')] $1" | tee -a "$LOG_PATH"
}

# Use pg_dumpall to backup all databases
log_message "Backing up all databases..."
PGPASSWORD=$PG_PASSWORD pg_dumpall -h $PG_HOST -p $PG_PORT -U $PG_USER > $DATABASE_BACKUP_PATH 2>> "${LOG_PATH}"

# Check if the database backup was successful
if [ $? -ne 0 ]; then
    echo "Error: Database backup failed."
    exit 1
fi

# Dump users and their permissions
log_message "Dumping users and permissions..."

PGPASSWORD=$PG_PASSWORD pg_dumpall -h $PG_HOST -p $PG_PORT -U $PG_USER --roles-only --no-role-passwords > $USERS_BACKUP_PATH 2>> "$LOG_PATH"

# Check if the users backup was successful
if [ $? -ne 0 ]; then
    echo "Error: Users and permissions backup failed."
    exit 1
fi

# Compress both backup files using gzip
echo "Compressing backup files..."
tar czf $FINAL_BACKUP_PATH -C $BACKUP_DIR $DATABASE_BACKUP_FILENAME $USERS_BACKUP_FILENAME >> "$LOG_PATH" 2>&1

# Remove the uncompressed SQL files
rm $DATABASE_BACKUP_PATH $USERS_BACKUP_PATH

log_message "Backup completed successfully."
log_message "Backup file: $FINAL_BACKUP_PATH"
log_message "Backup size: $(du -h "$FINAL_BACKUP_PATH" | cut -f1)"
log_message "Available disk space: $(df -h "$BACKUP_DIR" | awk 'NR==2 {print $4}')"